.testimonial{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 149.333px 85.3333px;
    gap: 106.67px;


    background: #F5FCFF;
}

.testimonial-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 21.33px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.testimonial-title h2{
    font-weight: 600;
    font-size: 21.3333px;
    line-height: 150%;
   
    color: #282938;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.testimonial-title h1{
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
  
    color: #282938;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.testimonial-content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 42.67px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.testimonial-content-coulumn{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 42.6667px;
    gap: 42.67px;

    width: 0%;
    height: 100%;

    border: 1.33333px solid #006B6A;
    border-radius: 8px;

    flex: none;
    order: 0;
    flex-grow: 1;
}

#stars{
    width: 154.67px;
    height: 25.19px;
}

.testimonial-content-coulumn p{
    font-weight: 400;
    font-size: 21.3333px;
    line-height: 150%;
   
   

    color: #1C1E53;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.testimonial-avatar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 21.33px;

    flex: none;
    order: 2;
    flex-grow: 0;
}

#testimonial-avatar{
    width: 74.67px;
    height: 74.67px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.testimonial-avatar-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.testimonial-avatar-content h3{
    font-weight: 600;
    font-size: 21.3333px;
    line-height: 150%;

    color: #282938;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.testimonial-avatar-content p{
    font-weight: 400;
    font-size: 21.3333px;
    line-height: 150%;

    color: #1C1E53;

    flex: none;
    order: 1;
    flex-grow: 0;
}

@media screen and (max-width: 1032px) {


    .testimonial-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
    
    .testimonial-content-coulumn{
        width: 100%;
    }
}